<mdb-navbar SideClass="navbar navbar-expand-lg red navbar-dark ie-nav d-none d-lg-block" [containerInside]="true" id="menuOfertas">
  <mdb-navbar-brand>
    <a rel="noopener noreferrer" class="navbar-brand" href="http://www.familiacondor.com.br" target="_blank" >
      <img Lazy src="./assets/images/familia.png" width="60px" alt="familia condor" class="d-lg-none d-xl-none" />
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav  pr-3 border-right-menu justify-content-start">
      <li class="nav-item dropdown mega-dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" mdbWavesEffect class="nav-link b-08 dropdown-toggle waves-light" >
          Todas as ofertas<span class="caret"></span>
        </a>
        <div class="dropdown-menu mega-menu row z-depth-1 bg-mega w-100">
          <div class="container">
            <div class="row mx-md-4 mx-1">
              <div class="col-lg-4 col-xl-3" *ngFor="let item of items | async; trackBy: trackByFunction">
                <span>
                  <a class="p-0"[routerLink]="['departamento', item.slug]">
                    <p class="py-2 mb-0 border-bottom b-05"> <span class="ml-2">{{ item.nome }}</span> </p>
                  </a>
                </span>
              </div>
              <div class="col-lg-4 col-xl-3" *ngFor="let item of json.campanha; trackBy: trackByFunction">
                <a class="p-0"[routerLink]="[item.slug]">
                  <p class="py-2 mb-0 border-bottom b-05"><span class="ml-2">{{ item.nome }}</span></p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item waves-light px-0 px-xl-1" mdbWavesEffect *ngFor="let item of json.center; trackBy: trackByFunction">
        <a class="nav-link b-06" *ngIf="!item.external" [routerLink]="[item.url]">{{ item.name }}</a>
        <a rel="noopener noreferrer" class="nav-link b-06" *ngIf="item.external" [href]="[item.url]" target="_blank">{{ item.name }}</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
