.drop-menu{
  .titulo {
    margin-bottom: 1rem;
    h6 {
      text-align: center;
      font-size: .9rem !important;
      text-decoration: underline;
      a {
        font-weight: 600 !important;
        color: #fafafa !important;
      }
    }
  }
  ul {
    padding: 0 10px;
    li {
      padding-left: 5px;
      a {
        font-size: .8rem;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
  }
}
