<section id="Blog" *ngIf="items$ | async as items; else semData">
    <div id="Conteudo" class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h1 *ngIf="titulo" class="message" [innerHtml]="titulo"></h1>
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4" *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
                        <div class="item m-2 rounded">
                            <a [routerLink]="['/blog', item.slug]">
                                <img LazyLoad [src]="item.medium" class="w-100 rounded-top" alt="">
                            </a>
                            <div class="item-body">
                                <p class="date">{{ item.date | date: "dd/MM/yyyy" }}</p>
                                <h1>
                                    <a class="text-muted" [routerLink]="['/blog', item.slug]" routerLinkActive="router-link-active" >{{ item.title }}</a>
                                </h1>
                            </div>
                            <div class="item-footer">
                                <div class="row justify-content-end">
                                    <div class="col-6 text-center">
                                        <a [routerLink]="['/blog', item.slug]" class="button-condor text-muted">
                                            Ler mais >>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-3">
                    <pagination-controls class="animated fade text-center" (pageChange)="pageChanged($event)"
                    (pageBoundsCorrection)="pageChanged($event)" previousLabel="Anterior" nextLabel="Próximo" responsive="true">
                    </pagination-controls>
                </div>
            </div>
            <div class="col md-3">
                <app-blog-sidebar></app-blog-sidebar>
            </div>
        </div>
    </div>
</section>
<ng-template #semData>
  <app-sem-data></app-sem-data>
</ng-template>
