.cards {
  .image{
    position: relative;
    height: 280px;
    background-size: cover !important;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .content {
    bottom: 0;
    display: flex;
    min-height: 100px;
    position: absolute;
    padding: .6rem .85rem;
    border-radius: 0 0 10px 10px;
    background-color: rgba($color: #000000, $alpha: .50);
    .titulo {
      color: #fafafa;
      font-weight: 600;
      font-size: 1.3rem;
      align-self: center;
    }
  }
}

a {
  color: var(--color-text-default) !important;
}
