@media(max-width: 450px) {
    .col-lg-8, .col-xl-9 { 
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .col-6 { 
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
