<div class="titulo">
  <h2>{{ titulo }}</h2>
</div>

<div class="list" *ngIf="type ==='list'; else media">
  <div class="line" *ngFor="let item of items$ | async; trackBy: trackBy" (click)="onBlogId(item.slug)">
    <div class="image">
      <img [src]="item.thumbnail" class="w-100" [alt]="item.titulo">
    </div>
    <div class="content">
      <p class="date">
        <i class="far fa-calendar-alt mr-1"></i>
        {{ item.date | date: 'dd/MM/yyyy' }}
      </p>
      <p class="title">{{ item.title }}</p>
    </div>
  </div>
</div>

<ng-template #media>
  <div class="media">
    <div class="row">
      <div class="col-md-7">
        <div class="cards" *ngFor="let item of items$ | async | slice: 0 : 1; trackBy: trackBy" (click)="onBlogId(item.slug)">
          <div class="image">
            <img [src]="item.large" class="w-100" [alt]="item.titulo">
          </div>
          <div class="content">
            <p class="date">
              <i class="far fa-calendar-alt mr-1"></i>
              {{ item.date | date: 'dd/MM/yyyy' }}
            </p>
            <p class="title">{{ item.title }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="list">
          <div class="line" *ngFor="let item of items$ | async | slice: 1 : 6; trackBy: trackBy" (click)="onBlogId(item.slug)">
            <div class="image">
              <img [src]="item.thumbnail" class="w-100" alt="">
            </div>
            <div class="content">
              <p class="date">
                <i class="far fa-calendar-alt mr-1"></i>
                {{ item.date | date: 'dd/MM/yyyy' }}
              </p>
              <p class="title">{{ item.title }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
