.titulo {
  padding-bottom: 0rem;
  margin-bottom: .75rem;
  border-bottom: 1px solid #e2e2e2;
  h2{
    margin-bottom: 0px;
    font-weight: 700;
  }
}

.list {
  .line {
    cursor: pointer;
    flex: row;
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: .5rem;
    &:last-child {
      border-bottom: 0px solid #e2e2e2;
    }
    .image {
      width: 20%;
      img{
        border-radius: 10px;
      }
    }
    .content {
      width: 80%;
      padding-left: .5rem;
      .date {
        font-size: .8rem;
        margin-bottom: .15rem;
        color: #686868;
      }
      .title {
        margin-bottom: 0;
        font-size: 1rem;
        text-align: justify;
      }
    }
  }
}

.media {
  .cards {
    cursor: pointer;
    .image {
      margin-bottom: 1rem;
      img{
        border-radius: 10px;
      }
    }
    .content {
      .date {
        margin-bottom: .15rem;
        color: #686868;
      }
      .title {
        font-size: 1.5rem;
      }
    }
  }
}
