@media(max-width: 767px) and (orientation: landscape) {
    #banner, .container { 
        min-width: 100% !important;
    }
}


@media(max-width: 450px) {
    .col-sm-3 { 
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
