.product {
  color: var(--product-text);
  position: relative;
  border-radius: 10px;
  background-color: var(--product-background);
  box-shadow: 2px 3px 4px rgba($color: #000000, $alpha: .20);
  .message {
    .mas18 {
      border-radius: 10px 0 0 0;
      position: absolute;
      background-color: var(--product-mas18);
      width: auto;
      height: 30px;
      top: 0;
      left: 0;
      p {
        margin-top: 3px;
        padding: 0 10px;
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 0px;
        color: var(--product-color-text-mas18);
      }
    }
    .kit {
      border-radius: 0 10px 0 0;
      position: absolute;
      background-color: var(--product-kit);
      width: auto;
      height: 30px;
      top: 0;
      right: 0;
      p {
        margin-top: 3px;
        padding: 0 10px;
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 0px;
        color: var(--product-color-text-mas18);
      }
    }
  }
  .images{
    text-align: center;
    .promotion{
      position: relative;
      .selo_clube {
        position: absolute;
        bottom: 0px;
        right: 10px;
        width: 40px;
        height: auto;
      }
      .selo_ddv {
        position: absolute;
        bottom: 40px;
        right: 10px;
        width: 40px;
        height: auto;
      }
    }
    img {
      padding: 1rem 0;
      height: 130px;
      width: auto;
      margin: 0 auto;
    }
  }
  .content {
    padding: .35rem;
    .title {
      min-height: 48px;
    }
    .regular {
      margin-bottom: 0px;
      .price-normal {
        font-weight: 800;
        font-size: 1.2rem;
        margin-bottom: 0px;
      }
      .price-clube {
        font-weight: 500;
        font-size: .85rem;
      }
    }
    .clube {
      .price {
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 0px;
      }
      .parcela {
        p {
          font-weight: 700;
          font-size: .75rem;
          margin-bottom: 0px;
        }
      }
    }
    .validade {
      margin: .20rem 0;
      p {
        text-align: center;
        margin-bottom: 0;
        font-size: .65rem;
      }
    }
  }
}
