.titulo {
  padding-bottom: 0rem;
  margin-bottom: .75rem;
  border-bottom: 1px solid #e2e2e2;
  h2{
    margin-bottom: 0px;
    font-weight: 700;
  }
}

.categories {
  ul{
    li{
      min-height: 50px;
      a{
        font-size: 1.2rem;
      }
    }
  }
}
