<section *ngIf="(data$ | async) as ofertas">
  <app-carousel></app-carousel>
  <app-widget-ofertas [code]="ofertas[0].code" [title]="ofertas[0].titulo"
    [icon]="ofertas[0].icon" [link]="ofertas[0].link" type="slug"></app-widget-ofertas>
    <app-faixa type="whats"></app-faixa>
    <div class="container my-2"> <app-select-loja type="alert"></app-select-loja> </div>
    <app-widget-ofertas [code]="ofertas[1].code" [title]="ofertas[1].titulo" [icon]="ofertas[1].icon" [link]="ofertas[1].link" type="slug"> </app-widget-ofertas>
    <!-- <ngx-loadable module="banners" [show]="show"></ngx-loadable> -->
    <app-widget-ofertas [code]="ofertas[2].code" [title]="ofertas[2].titulo" [icon]="ofertas[2].icon" [link]="ofertas[2].link" type="slug">
    </app-widget-ofertas>
    <app-widget-ofertas [code]="ofertas[3].code" [title]="ofertas[3].titulo" [icon]="ofertas[3].icon" [link]="ofertas[3].link" type="departamento">
    </app-widget-ofertas>
    <app-faixa type="clube"></app-faixa>
  <app-widget-post></app-widget-post>
  <app-widget-institucional></app-widget-institucional>
</section>

