section > div {
  padding: 2rem 0 !important;

}

.titulo-black{
  color: var(--color-red-primary) !important;
  a{ color: var(--color-red-primary) !important; }
}

.bg-black {
    background: var(--color-blue-primary);
}


@media(max-width: 767px) and (orientation: landscape) {
    #banner, .container {
        min-width: 100% !important;
    }
}



@media(max-width: 450px) {
    .titulo-black{ font-size: 1.5rem; padding: 0 15px; }
}

@media(max-width: 375px) {
    .titulo-black{ font-size: 1.3rem; }
}
