@import '../../../../variable.scss';

.aside{
    padding: 1.5rem 1rem;
    background: rgba($color: #ffffff, $alpha: .25);
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    h5{
        font-weight: 700;
        color: #505050;
        margin-bottom: .7rem;
        border-bottom: 2px solid $red-alpha;
    }
}
