<section id="sector" class="py-5" *ngIf="(menuSector$ | async) as path">
  <div class="container">
    <mdb-breadcrumb class="mb-5">
      <mdb-breadcrumb-item class="blue-text text-uppercase" [routerLink]="['/departamento', url.link]">
        {{url.nome}}</mdb-breadcrumb-item>
      <mdb-breadcrumb-item class="text-muted text-uppercase"> {{ path['nome'] }} </mdb-breadcrumb-item>
    </mdb-breadcrumb>
    <div class="row ios justify-content-center">
      <div class="col-lg-4 col-xl-3 bg-red">
        <app-select-loja type="alert"></app-select-loja>
        <h5 class="border-bottom pb-1 b-06 my-4 text-capitalize">{{url.nome}}</h5>
        <div class="news my-4">
          <h5 class="b-07 border-bottom pb-1 mb-1" (click)="toogle()">
            Setor <i class="fas float-right" [ngClass]="{'fa-plus': !viewSector, 'fa-minus': viewSector}"></i>
          </h5>
          <ul class="nav flex-column grey lighten-4 py-2 animated fadeIn faster" data-wow-delay=".1" *ngIf="viewSector">
            <li class="nav-item" *ngFor="let n of sector$ | async" routerLinkActive="active">
              <a class="nav-link b-07 f-09" [routerLink]="['/departamento', url.link, 'setor', n.slug]">
                {{ n.sector }}
              </a>
            </li>
          </ul>
        </div>
      </div>
        <div class="col-lg-8 col-xl-9">
          <h1 class="b-08 border-bottom pb-1 mb-3 text-capitalize">{{ path['nome']  }}</h1>
          <img src="./assets/images/banner_campanha.jpg" onerror="this.style.display='none'" class="img-fluid mb-4"/>
          <input type="text" class="form-control" placeholder="Procure produtos deste setor" (change)="busca($event)">
          <div class="row mt-3">
            <div class="col-6 col-md-4 col-lg-4 col-xl-4 mb-3"
              *ngFor="let item of items$ | async | filtro: search:'dsc_produto'; let i = index; trackBy: trackBy">
              <app-product [code]="item"></app-product>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<app-sem-data *ngIf="isLoading"></app-sem-data>
