.nav-item:hover{ background: rgba($color: #000000, $alpha: .10); }
.menuBack { background-color: var(--color-red-primary); }
.bg-mega { background-color: var(--color-default--background); }


.bg-menu{
  background-color: var(--color-red-primary);
}

.rot {
    transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -webkit-transform: rotate(350deg);
    -o-transform: rotate(350deg);
}

#iconsrr { display: flex; }
.title-mega { color: var(--color-red-primary); }

.text-underline {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .nav-item {
        font-size: .8rem !important;
    }
}

@media (max-width: 1114px) {
    .nav-item {
        font-size: 1rem !important;
    }
    #iconsrr {
        display: none;
    }
}
