@media(max-width: 767px) and (orientation: landscape) {
    #banner, .container { 
        min-width: 100% !important;
    }
}


@media(max-width: 450px) {
    #banner, .col-md-8, .col-lg-8, .col-md-4, .col-lg-4 { 
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
