<aside class="mb-5">
    <div class="search mb-5">
      <div class="titulo"> <h2>Busca</h2> </div>
        <div class="form-group">
            <input type="text" class="form-control" (keyup)="onSearch($event)">
        </div>
    </div>
    <div class="categories">
      <div class="titulo"> <h2>Categorias</h2> </div>
      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let c of category">
          <a class="nav-link" [routerLink]="['/blog','categoria', c.slug]">
            <i class="fas fa-tag mr-1 text-muted"></i>
            {{ c.name }} ({{ c.count }})
          </a>
        </li>
      </ul>
    </div>
</aside>
